1: Create a variable of type: string,intger,float,and Boolean.

In [4]:
a="data type"
b=17
c=17.13
d=True
print(type(a),"a=","data type")
print(type(b),"b=""17")
print(type(c),"c=""17.13")
print(type(d),"d=""Ture")

<class 'str'> a= data type
<class 'int'> b=17
<class 'float'> c=17.13
<class 'bool'> d=Ture

2: Make a list of 5 furite name and print.

In [5]:
furite_name:list=["Apple,banana,orange, Mango, painapple"]
print(furite_name)

['Apple,banana,orange, Mango, painapple']

3: Define a dictionary with key: name, age , city_and print with key value.

In [6]:
my_dict:dict=("Name:Ayesha,age:18,city:Gujranwala" )
print(my_dict)

Name:Ayesha,age:18,city:Gujranwala

4:Create a set of unique hobbies.

In [8]:
my_set:set={"sketching,cooking,eating"}
print(type(my_set),"my_set",my_set)

<class 'set'> my_set {'sketching,cooking,eating'}

5: Make a list of 5 student name and print.

In [9]:
my_list:list=["ali,ahmad,hassan,Faiza,rehman"]
print(type(my_list),"my_list",my_set)

<class 'list'> my_list {'sketching,cooking,eating'}

6:store 3 float num and calucalte average.

In [10]:
num1=17.13
num2=13.17
num3=1.7
average=(num1+num2+num3)/3
print("average",average)

average 10.666666666666666

7: Tuple of four cities.

In [12]:
my_tuple:tuple=("Lahore,Karachi,Islamabad,Maureen,Gujranwala")
print(my_tuple)

Lahore,Karachi,Islamabad,Maureen,Gujranwala

8: set of vowel in a string.

In [13]:
my_str:str="a,i,o,u,e"
print(my_str)

a,i,o,u,e

9: Create a dict of 3 programming languages with their creator and print them.

In [16]:
my_dict:dict={"python,c++,java"}
print(type(dict),"my_dict",my_dict)

<class 'type'> my_dict {'python,c++,java'}

10: Create a tuple of 3 favorite num and print.

In [15]:
my_tuple:tuple=(11,77,33)
print(type(tuple),"my_tuple",my_tuple)

<class 'type'> my_tuple (11, 77, 33)